header( class="bg-indigo-600 p-4" )
    .container.mx-auto.flex.justify-between.items-center
        h1( class="text-2xl text-white font-extrabold text-center" ) Bienes
            span( class="font-normal" ) Raices

        nav( class="my-5 text-sm text-white md:flex md:items-center md:gap-4 hidden" )
            a( href="/auth/register" ) Crear cuenta
            a( href="/auth/login" ) Iniciar sesión

    //- pre( class="my-10 bg-white" )
    //-         code #{ JSON.stringify( categories, undefined, 4 ) }

div( class="bg-indigo-700 py-5 hidden lg:block" )
    div( class="container mx-auto flex justify-between items-center" )
        if categories
            each category in categories
                a( href=`/categories/${ category.id }` class="text-sm font-bold uppercase text-white" ) #{ category.name }
        